.container {
    width: 390px;
    max-width: 100%;
    height: 700px;
    margin: 0 50px 0 50px;
    // margin-left: 25px;
    display: inline-block;
    vertical-align: top;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.results {
    height: 50%;
    overflow-y: auto;
}

div::-webkit-scrollbar {
    width: .25em;
}
 
 
div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.searchArtist {
    width: 350px;
    align-content: flex-start;
    display: flex;
    overflow-x: hidden;

}

.searchArtist {
    width: 350px;
    align-content: flex-start;
    display: flex;
    overflow-x: hidden;
    font-size: 10px;
    color: grey;
}

.searchName {
    width: 350px;
    align-content: flex-start;
    display: flex;
    overflow-x: hidden;
}


